---
layout: ""
page_title: "Provider: NetScalerSDX"
description: |-
  The NetScalerSDX provider allows you to manage NetScaler SDX resources.
---

# NetScalerSDX Provider

The NetScalerSDX provider allows you to manage NetScaler SDX resources.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
