---
layout: ""
page_title: "Provider: NetscalerSDX"
description: |-
  The NetscalerSDX provider allows you to manage Netscaler SDX resources.
---

# NetscalerSDX Provider

The NetscalerSDX provider allows you to manage Netscaler SDX resources.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
