---
layout: ""
page_title: "Provider: CitrixSDX"
description: |-
  The CitrixSDX provider allows you to manage Citrix SDX resources.
---

# CitrixSDX Provider

The CitrixSDX provider allows you to manage Citrix SDX resources.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
